<!DOCTYPE html>
<html>
  <head>
    <title>Passport</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/scripts/base64url-arraybuffer.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
  <form action="/account" method="post">
    <div>
      <label>Name:</label>
      <input id="name" type="text" name="name"/><br/>
    </div>
    <div>
      <label>Username:</label>
      <input id="username" type="text" name="username"/><br/>
    </div>
    <div>
      <input id="register" type="submit" value="Submit"/>
    </div>
  </form>
  </body>
</html>
